


body {
    margin:0px;

    background-color: #FCF1FF;
    font-family: Inter;
    overflow:hidden;
    font-size:16px;
  
}

header {
    position:fixed;
    height:50px;
    width:100%;
    bottom:0px;
    background-color:#094932;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#ffffff;
    z-index:20;
   
}

header .logo {
    width:150px;
    padding:10px;
   display:flex;
   height:40px;
   align-items:center;
   
}

header .logo img {
    width:40px;
    
}

header .logo p {
    width: 100px;
    font-size:24px;
    font-weight:600;
    text-transform:uppercase;
}

header .logo:hover {
    cursor:pointer;
}

header .footer {
    min-width: 200px;
    text-align:right;
    padding:10px;
    
}

section.desktop {
position: absolute;
display:flex;
align-items: top;
flex-direction:column;
top: 0px;
left:0px;

width: 200px;
padding:40px;

}

.desktop .desktop-icon {
    display:flex;
    flex-direction:column;
width: 80px;
height: 80px;
/*background-color:black; */
margin-bottom:20px;
text-align:center;
}
.desktop-icon img {
    height:60px;
}

.desktop-icon:hover{
    cursor:pointer;
}

.windows {
    width:100%;
    height:100%;
    touch-action: none;
}

.hidden {
    border:1px solid #000000;
    border-top:30px solid #094932;
    position:relative;

    position: absolute;
    background-color:#ffffff;
    touch-action: none;
    user-select: none;
 
    padding:10px;
    box-shadow: 8px 10px rgba(0,0,0,0.3);
}

.show-window {
    display:block;
}

.hide-window {
    display:none;
}




p.window-bar {
    position:absolute;
    top:-42px;
    color:#ffffff;
}

p.window-close{
    position:absolute;
    top:-42px;
    right:0px;
    color:#ffffff;
}
div.about{

    bottom:80px;
    right:60px;
    width:340px;
    height:420px;
    font-size:12px;
    text-align:center;
}

div.about p.window-bar {
    font-size:16px;
}

div.mood{
    
    bottom:90px;
    right:140px;
    width:500px;
    height:350px;
    background-image: url('images/anawang-default.gif');
    background-size:cover;
    background-position:center;
    z-index:1;
}

div.emails{

    top:50px;
    left:160px;
    width:500px;
    
   
}


div.images{

   /*     top:150px;
        right:160px;
        width:500px;*/
        width:85%;
        height:70%;
        top:30px;
        left:50px;
        
       
    }

div.trash{

    top:20px;
    right:360px;
    width:500px;
    height:350px;

}

div.documents {
    top:120px;
    right:260px;
    width:500px;
    height:350px;
 
}

.documents-container {
    display:flex;
   
    width:100%;

}

.documents-container .emails-left {
    width:30%;
    display:flex;
    flex-direction:column;
}
.documents-container .emails-right {
 border:1px solid #000000;
 width:60%;
}

.emails-left p {
    opacity: 0.3;
}

.emails-left p.highlighted {
    opacity:1;
}

.emails-right div {
    border:1px solid #000000;
    margin:3px;
    padding:14px;
}

.date {
    opacity:0.4;
    font-size:10px;
}
.minimized-bar {
    width:80%;
    display:flex;
    align-items:left;
}

.minimized-bar div {
    width: 200px;
    padding: 7px;
    margin:3px;
    border:1px solid #000000;
    background-color: #A3E2BA;
    color: #000000;
}

.minimized-bar div:hover {
    cursor:pointer;
    opacity:0.3;
}

.start {
    position: absolute;
    bottom:50px;
    left:0px;
    width:200px;
    background-color:#094932;
    color:#ffffff;
z-index: 5;
}

.start div {
    height:25px;
    border:1px solid #000000;
    margin:2px;
    padding:3px;
}

.start-row {
    color:#ffffff;
}

.start-row:hover {
    cursor:pointer;
    opacity:0.5;
    background-color: #ffffff;
    color:#094932;
}
.show-start {
display: block;

}

.hide-start{
display:none;
}

.start-row-secondary {
    z-index:5;
    left:200px;
    width:500px;
    position: absolute;
    background-color:#094932;
}

.start-settings-menu {
    bottom:85px;
}

.start-settings-menu div {
    height:25px;
    border:1px solid #000000;
    margin:2px;
    padding:3px;
}

.start-recent-menu {
      bottom:120px;
 
}

.start-recent-menu div {
    height:25px;
    border:1px solid #000000;
    margin:2px;
    padding:3px;
}

.max-bg {
    text-align:center;
    max-width:300px;
    border:1px solid #000000;
    margin: 60px auto;
    padding:60px 30px;
 background-color: rgba(255, 255, 255, 0.8);
  
}

.max-bg span {
    border:1px solid #000000;
    padding:8px 20px;
    margin-top:60px;
    margin-right:6px;
    margin-left:6px;
}
.max-bg span:hover {
    cursor:pointer;
    background-color: #094932;
}

.project-list {
    display:flex;
    max-width: 100%;
    flex-wrap:wrap;
}

.single-project {
    width:90px;
}
.single-project img {
    width: 90px;
}

.single-project p{
    text-align:center;
}


.help {
    position:absolute;
   top:30%;
   left:300px;
    text-align:center;
    width:300px;
    border:1px solid #000000;
margin: 60px 300px;
padding:60px 30px;
 background-color: rgba(255, 255, 255, 0.8);
 z-index:20;
 display:none;
}

.help span{
    border:1px solid #000000;
    padding:8px 20px;
    margin-top:60px;
    margin-right:6px;
    margin-left:6px;
}

.help span:hover {
    cursor:pointer;
    background-color: #094932;
}